html,
body {
  background-color: #17191e;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  font-size: 16px;
}

.search-section {
  display: flex;
  justify-content: space-around;
  height: auto;
  padding-top: 1rem;
  align-items: center;
}

form {
  display: flex;
  height: 100%;
  align-items: center;
}

.search-input {
  height: 1.5rem;
  border: none;
  border-radius: 20px;
  display: none;
}

.search-btn {
  background-color: transparent;
  width: 2.1rem;
  height: 1.7rem;
  border: none;
}

.location {
  display: flex;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  align-items: center;
}

.location-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 3px;
}

.settings-container > button {
  padding: 0;
  width: 50px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  margin: 0;
  display: none;
}

.settings-container > img {
  height: 30px;
  width: 30px;
}

.c-degree {
  background-color: transparent;
  color: aliceblue;
}

.f-degree {
  background-color: white;
  color: black;
}

.current-weather-section {
}

.weather-icon-container {
  display: flex;
  justify-content: center;
}

.weather-icon {
  margin-top: 30px;
  height: 18rem;
  width: 21rem;
  filter: drop-shadow(0 0px 100px rgba(255, 255, 255, 0.467));
}

.temp-data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp {
  color: white;
  margin: 0;
  font-size: 8rem;
  font-family: "Archivo", sans-serif;
  line-height: 0.7;
  filter: drop-shadow(0 0px 100px rgba(255, 255, 255, 0.467));
  margin-right: 20px;
}

.degree-symbol {
  position: absolute;
  font-size: 2.5rem;
}

.weather-condition {
  color: #babfc3;
  align-self: center;
  margin: 0;
  font-size: 2rem;
  font-family: "Archivo", sans-serif;
  margin-top: 15px;
  margin-right: 20px;
}

.weather-data-container {
  display: flex;
  margin-top: 20px;
  padding: 0.5rem;
  width: fit-content;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  background-color: #212328;
  border-radius: 30px;
  align-items: center;
}

.weather-data-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
}

.weather-data-container > div > p {
  margin: 0;
  font-family: "Archivo", sans-serif;
}

.weather-data-container > div > img {
  width: 30px;
  height: 30px;
  filter: drop-shadow(0 0px 10px rgba(255, 255, 255, 0.253));
}

.divider {
  height: 2rem;
  border: solid 1px rgba(255, 255, 255, 0.133);
}

.rain-label {
  color: #babfc3d1;
}

.humidity-label {
  color: #babfc3cf;
}

.wind-label {
  color: #babfc3d0;
}

.rain-data {
  color: #ffffff;
}

.humidity-data {
  color: #ffffff;
}

.wind-data {
  color: #ffffff;
}
