html,
body {
  background-color: #060a2e;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  font-size: 16px;
}

.search-section {
  display: flex;
  justify-content: space-around;
  height: auto;
  padding-top: 1rem;
  align-items: center;
  position: relative;
}

form {
  display: flex;
  height: 100%;
  align-items: center;
}

.search-input {
  text-indent: 10px;
  height: 1.5rem;
  border: none;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  display: none;
}

.search-btn {
  background-color: transparent;
  width: 2.1rem;
  height: 1.7rem;
  border: none;
}

.location {
  display: flex;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  align-items: center;
}

.location-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 3px;
  color: #a2dcff;
}

.locationName {
  margin: 0;
  max-width: fit-content;
  max-height: 40px;
  overflow: hidden;
  color: white;
}

.settings-container {
  display: flex;
}

.settings-wrapper {
  position: relative;
}

.degree-buttons {
  display: none;
  position: absolute;
  top: 40px;
  right: -50px;
  width: 120px;
}

.degree-buttons > button {
  padding: 0;
  width: 50px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  margin: 0;
}

.settings-container > img {
  height: 30px;
  width: 30px;
}

.c-degree {
  background-color: transparent;
  color: aliceblue;
}

.f-degree {
  background-color: white;
  color: black;
}

.weather-icon-container {
  display: flex;
  justify-content: center;
}

.weather-icon {
  margin-top: 30px;
  height: 18rem;
  width: 21rem;
  filter: drop-shadow(0 0px 100px rgba(255, 255, 255, 0.467));
  object-fit: cover;
}

.temp-data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp {
  color: white;
  margin: 0;
  font-size: 8rem;
  font-family: "Archivo", sans-serif;
  line-height: 0.4;
  filter: drop-shadow(0 0px 100px rgba(255, 255, 255, 0.467));
  height: fit-content;
}

.main-temp-wrapper {
  display: flex;
  max-height: fit-content;
}

.main-temp-wrapper > .degree-symbol {
  font-size: 2.5rem;
  color: white;
  margin-top: -27px;
}

.weather-condition {
  color: #babfc3;
  align-self: center;
  margin: 0;
  font-size: 2rem;
  font-family: "Archivo", sans-serif;
  margin-top: 35px;
  margin-right: 20px;
}

.weather-data-container {
  display: flex;
  margin-top: 20px;
  padding: 0.5rem;
  width: fit-content;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  background-color: #1d1d4a;
  border-radius: 30px;
  align-items: center;
}

.weather-data-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
}

.weather-data-container > div > p {
  margin: 0;
  font-family: "Archivo", sans-serif;
}

.weather-data-container > div > img {
  width: 30px;
  height: 30px;
}

.divider {
  height: 2rem;
  border: solid 1px rgba(255, 255, 255, 0.133);
}

.rain-label {
  color: #babfc3d1;
}

.humidity-label {
  color: #babfc3cf;
}

.wind-label {
  color: #babfc3d0;
}

.rain-data {
  color: #ffffff;
}

.humidity-data {
  color: #ffffff;
}

.wind-data {
  color: #ffffff;
}

.upcoming-weather-section {
  max-width: 100%;
}

.days-container {
  display: flex;
  max-width: calc(92px * 4);
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  touch-action: pan-x;
  padding-bottom: 10px;
}

@media (max-width: 729px) {
  /* For WebKit browsers (Chrome, Safari, Opera) */
  .days-container::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge, and Firefox */
  .days-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.day {
  display: flex;
  width: 80px;
  flex-shrink: 0;
  scroll-snap-align: start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d1d4a;
  margin-top: 20px;
  border-radius: 30px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 15px;
  border: solid 1px #babfc32d;
}

.day > img {
  width: 50px;
  height: 50px;
}

.day > p {
  margin: 0;
}

.day > .temp-wrapper > div > .upcoming-temp {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

.temp-wrapper {
  display: flex;
  height: 35px;
  margin-left: 5px;
}

.current-day {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.day-name {
  color: #babfc3;
  font-family: "Poppins", sans-serif;
}

.day > .temp-wrapper > div > .degree-symbol {
  margin: 0;
  position: relative;
  font-size: 0.9rem;
  color: white;
  top: 17px;
  left: -1px;
}

.day > .temp-wrapper > p {
  margin: 0;
  color: white;
  margin-right: 4px;
  margin-top: 17px;
  font-family: "Archivo", sans-serif;
  align-content: center;
}

.day > .temp-wrapper > div {
  display: flex;
}

.error {
  width: 25rem;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Archivo", sans-serif;
  color: rgb(209, 0, 0);
  font-size: 1.2rem;
  border: solid 1px rgb(209, 0, 0);
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecc8c5;
  font-weight: bolder;
}

.symbol {
  font-size: 2.5rem;
}

.err-message {
  text-indent: 5px;
  white-space: nowrap;
}

@media (min-width: 730px) {
  .days-container {
    display: flex;
    max-width: 70%;
    scroll-behavior: smooth;
    overflow: auto;
  }

  .day {
    display: flex;
    width: 10rem;
    height: 10rem;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (min-width: 1900px) {
  .days-container {
    justify-content: center;
  }
}
